<!DOCTYPE html>
<html lang="en" ng-app="bubo" ng-controller="bubo">
<head>
  <meta charset="utf-8">
  <title>Bubo - Think fast, Do smart</title>
  <meta property="og:title" content="yuk gabung " />
  <meta name="description" content="bubo"
  />
  

  <style>
  
/* form */

.form-style-7{
    max-width:400px;
    /* margin:50px auto; */
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
    border:1px solid #DDDDDD;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}
</style>
  <meta name="google-signin-client_id" content="1051153758732-8f10mu3h9um3pquhbko9e4i2bvbfsv5p.apps.googleusercontent.com">
  <meta property="og:title" name="description" content="Yuk mulai beramal dengan platform kotak amal digital dari bubo" />
  <meta property="og:description" name="description" content="Memperkenalkan, platform kotak amal digital. Dengan platform ini kamu dapat melakukan donasi dengan cara melakukan scan barcode yang sudah terdaftar sebagai sebaran barcode menggunakan smartphone. Yuk mulai beramal secara digital dengan bubo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bubo.id" />
  <meta property="og:image" content="https://bubo.id/images/campaign.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:secure_url" content="https://bubo.id/images/campaign.png" />
  <meta property="og:image:width" content="1152" />
  <meta property="og:image:height" content="600" />
  <meta property="fb:app_id" content="2035439846730435" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="https://bubo.id/favicon.ico" id="favicon">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

 



  <meta property="og:url" content="https://bubo.id/page/register" />
  <meta property="og:image" content="https://bubo.id/images/bubo.jpg" />

  <link href="/css/style.css?v=1.0.52" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  
</head>
<body>
  <section class="hero" ng-style="{'background-image':'url({{page.media}})'}">
    <article>
        <a class="logo" href="/">
          <!-- <img src="/images/bubo.png"/> -->
          <div>
          <h1 class="title" ><span><div>BUBO</div> <i>survey</i></span></h1>
          
          </div>
        </a>
    </article>
  </section>
  <section class="info" ng-controller="campaign">
    <article ng-controller="register" >

        <div class="form">
            <div ng-show="step.id==1">
              <div class="hide" style="margin-bottom: 50px;">Apakah ini akun anda?</div>
              <div id="id" style="display: none;"></div>
              <h2 id="name" style="line-height: 1"></h2>
              <small id="email"></small>
              <div class="flex" style="justify-content: center">
                <button id="next" class="hide" style="margin-top: 50px;" ng-click="step.one()">Lanjutkan</button>
              </div>
            </div>

            <div ng-show="step.id==2">
              <div class="col-sm-12 " ng-repeat="item in items" ng-cloak>
                    <div class="thumbnail" style="">
                        <div class="media" style="    text-align: center; padding :5%;">
                            <div class="media-left">
                                <a href="#">
                                
                                </a>
                            </div>
                            <div class="media-body"  style="text-align: left;">
                                <img src="{{item.logo_url}}" style="height: 6em; float: left; margin-right: 2em" data-toggle="modal"  data-target="#{{$index}}" >
                                <div style="border-left-style: solid; display: grid; padding-left: 0.5em; border-color: gray">
                                <b><h3 class="media-heading">{{item.nama}}</h3></b>
                                <h6 class="media-heading" style="color: dimgray">{{item.kecamatan}} {{item.kelurahan}} {{item.kota}} {{item.provinsi}} {{item.kode_pos}}</h6>
                                <h4 class="media-heading">Sales : {{item.penanggung_jawab}}</h4>
                                </div>
                            
                            </div>
                        </div>
                    </div>       
                  //
                   <!-- modal -->
 <div id="{{$index}}" class="modal fade" role="dialog">
  <div class="modal-dialog">


<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Detail Sekolah</h4>
  </div>
  <div class="modal-body" style="text-align: center">
          <img src="{{item.logo_url}}" style="height: 10em;" >
          <h4 class="media-heading">{{item.nama}}</h4>
          <div style="text-align: left ; padding-top: 5%" >
              Alamat :
                  <h5 class="media-heading">{{item.alamat}}</h5>
                  <h5 class="media-heading">{{item.kecamatan}} {{item.kelurahan}} {{item.kota}} {{item.provinsi}} {{item.kode_pos}}</h5>
              Penanggung jawab :
                  <h5 class="media-heading">{{item.penanggung_jawab}}</h5>
              Admin :
                  <h5 class="media-heading">{{item.admin_email}}</h5>
              Email :
                  <h5 class="media-heading">{{item.email}}</h5>
              No Telp :
                  <!-- <h5 class="media-heading">{{item.latlong}}</h5> -->
                  <h5 class="media-heading">{{item.no_telp}}</h5>
                  
         
          </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

</div>
</div>
<!-- modal -->
                  //
                  </div>
                <div class="col-sm-12 " ng-repeat="item in items" ng-cloak>
                    <div class="thumbnail" style="">
                        <div class="media" style="    text-align: center; padding :5%;">
                            <div class="media-left">
                                <a href="#">
                                
                                </a>
                            </div>
                            <div class="media-body"  style="text-align: left;">
                                <img src="{{item.logo_url}}" style="height: 6em; float: left; margin-right: 2em" data-toggle="modal"  data-target="#j" >
                                <div style="border-left-style: solid; display: grid; padding-left: 0.5em; border-color: gray">
                                <b><h3 class="media-heading">{{item.nama}}</h3></b>
                                <h6 class="media-heading" style="color: dimgray">{{item.kecamatan}} {{item.kelurahan}} {{item.kota}} {{item.provinsi}} {{item.kode_pos}}</h6>
                                <h4 class="media-heading">Sales : {{item.penanggung_jawab}}</h4>
                                </div>
                            
                            </div>
                        </div>
                    </div>       
                  <!-- modal -->
                  </div>
                  <button id="next" class="show" style="margin-top: 50px;" ng-click="step.two()">Tambah Sekolah</button>
                  </div>
              </div>


            <div ng-show="step.id==3">
              <form class="form-style-7">
                <ul>
              
                <li>
                    <label for="kota">Kota</label>
                    <input type="text" name="name" maxlength="100" ng-model="kota">
                    <span>masukan nama kota </span>
                </li>
                <li>
                    <label for="kota">Nama</label>
                    <input type="text" name="email" maxlength="100" ng-model="nama">
                    <span>masukan nama sekolah</span>
                </li>
                <li>
                    <label for="url">Email</label>
                    <input type="text" name="url" maxlength="100" ng-model="email">
                    <span>masukan alamat email valid disini</span>
                </li>
                <li>
                    <label for="bio">Alamat</label>
                    <textarea name="bio"  ng-model="alamat"></textarea>
                    <span>masukan Alamat sekolah</span>
                </li>
                <li>
                    <label for="kota">Latlong</label>
                    <input type="text" name="name" maxlength="100" ng-model="latlong">
                    <span>masukan kode bujur </span>
                </li>
                <li>
                    <label for="kota">Telp</label>
                    <input type="text" name="name" maxlength="100" ng-model="no_telp">
                    <span>masukan nomor telepon sekolah</span>
                </li>
                <li>
                    <label for="kota">Kode Pos</label>
                    <input type="text" name="name" maxlength="100" ng-model="kodepos">
                    <span>masukan nomor kode pos sekolah</span>
                </li>
                <li>
                    <label for="kota">Merchant</label>
                    <input type="text" name="name" maxlength="100" ng-model="merchant">
                    <span>masukan nama merchant</span>
                </li>
                <li>
                    <label for="kota">Provinsi</label>
                    <input type="text" name="name" maxlength="100" ng-model="provinsi">
                    <span>masukan provinsi dimana sekolah itu berada</span>
                </li>
                <li>
                    <label for="kota">Kecamatan</label>
                    <input type="text" name="name" maxlength="100" ng-model="kecamatan">
                    <span>masukan kecamatan dimana sekolah itu berada</span>
                </li>
                <li>
                    <label for="kota">Kelurahan</label>
                    <input type="text" name="name" maxlength="100" ng-model="kelurahan">
                    <span>masukan kelurahan</span>
                </li>
               
              
             
               
                </ul>
             
              
                </form>
              <div class="flex" style="justify-content: center">
                  <button id="next" class="hide" style="margin-top: 50px;" 
                  ng-click="step.prev()">sebelumnya</button>
                <button id="next" class="hide" style="margin-top: 50px;" 
                  ng-click="step.next()">Lanjutkan</button>
              </div>
            </div>


            <div ng-show="step.id==4">
              <div id="media" class="img-placeholder" ng-click="step.upload()" style="background-image: url({{sebaran.media}})">
                <div class="camera">
                  <img src="/images/camera.png" />
                </div>
              </div>
              <div class="flex" style="justify-content: center">
                  <button id="next" class="hide" style="margin-top: 50px;"  ng-click="step.prev()">sebelumnya</button>
                <button id="next" style="margin-top: 50px;" ng-disabled="sebaran.media === ''" ng-click="step.next()">Lanjutkan</button>
              </div>
            </div>
            <div ng-show="step.id==10">
              <div class="map-container">
                <div class="map" style="margin-bottom: 20px">
                  <div id="map"></div>
                  <div class="pointer">
                    <img src="/images/map-pointer.png" />
                  </div>
                </div>
                <div style="text-align: left;height: 60px; font-size: .7em;">
                  <small ng-bind="sebaran.latlng" style="font-size: .75em"></small>
                  <div ng-bind="sebaran.address"></div>
                </div>
                <div class="flex" style="justify-content: center">
                  <button id="next" style="margin-top: 20px;" ng-disabled="sebaran.address === ''" ng-click="step.next()">Lanjutkan</button>
                </div>
              </div>
            </div>



            <div ng-show="step.id==5" class="confirm">
              <h3 style="line-height: 1.5">Data Pendaftaran Sebaran Barcode</h3>
              <div></div>
           
              
                  <ul>
                  
                  <li>
                      <label for="kota">Kota</label>
                      <input type="text" name="name" maxlength="100" ng-model="kota">
                    
                  </li>
                  <li>
                      <label for="kota">Nama</label>
                      <input type="text" name="email" maxlength="100" ng-model="nama">
                    
                  </li>
                  <li>
                      <label for="url">Email</label>
                      <input type="text" name="url" maxlength="100" ng-model="email">
                     
                  </li>
                  <li>
                      <label for="bio">Alamat</label>
                      <input name="bio" ng-model="alamat"></input>
                     
                  </li>
                  <li>
                      <label for="kota">Latlong</label>
                      <input type="text" name="name" maxlength="100" ng-model="latlong">
                    
                  </li>
                  <li>
                      <label for="kota">Telp</label>
                      <input type="text" name="name" maxlength="100" ng-model="no_telp">
                    
                  </li>
                  <li>
                      <label for="kota">Kode Pos</label>
                      <input type="text" name="name" maxlength="100" ng-model="kodepos">
                   
                  </li>
                  <li>
                      <label for="kota">Merchant</label>
                      <input type="text" name="name" maxlength="100" ng-model="merchant">
                     
                  </li>
                  <li>
                      <label for="kota">Provinsi</label>
                      <input type="text" name="name" maxlength="100" ng-model="provinsi">
                      
                  </li>
                  <li>
                      <label for="kota">Kecamatan</label>
                      <input type="text" name="name" maxlength="100" ng-model="kecamatan">
                     
                  </li>
                  <li>
                      <label for="kota">Kelurahan</label>
                      <input type="text" name="name" maxlength="100" ng-model="kelurahan">
                    
                  </li>
                  <li>
                      <label for="kota">Email Sales</label>
                      <input type="text" name="name" maxlength="100" ng-model="emailadmin">
                      
                  </li>
                  <li>
                      <label for="kota">Sales</label>
                      <input type="text" name="name" maxlength="100" ng-model="sebaran.account.fullname">
                      
                  </li>
                 
                  </ul>
                  
               
                
              
              <small style="margin: 40px 0; font-size: .6em">Dengan mengklik tombol Submit, saya menyetujui segala ketentuan yang berlaku atas layanan pada bubo</small>
              <div class="flex" style="justify-content: center">
                 <button id="next" class="hide" style="margin-top: 50px;"  ng-click="step.prev()">sebelumnya</button>
                <button id="next" style="" ng-disabled="sebaran.confirm" ng-click="step.send()">Submit</button>
              </div>
            </div>

            <div ng-show="step.id==15">
               
        <div class="col-sm-12 " ng-repeat="item in items" ng-cloak>
            <div class="thumbnail" style="">
                <div class="media" style="    text-align: center; padding :5%;">
                    <div class="media-left">
                        <a href="#">
                        
                        </a>
                    </div>
                    <div class="media-body"  style="text-align: left;">
                        <img src="{{item.logo_url}}" style="height: 6em; float: left; margin-right: 2em" data-toggle="modal"  data-target="#{{$index}}" >
                        <div style="border-left-style: solid; display: grid; padding-left: 0.5em; border-color: gray">
                        <b><h3 class="media-heading">{{item.nama}}</h3></b>
                        <h6 class="media-heading" style="color: dimgray">{{item.kecamatan}} {{item.kelurahan}} {{item.kota}} {{item.provinsi}} {{item.kode_pos}}</h6>
                        <h4 class="media-heading">Sales : {{item.penanggung_jawab}}</h4>
                        </div>
                    
                    </div>
                </div>
            </div>
          
          
           <!-- modal -->
           <div id="{{$index}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
          
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detail Sekolah</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                    <img src="{{item.logo_url}}" style="height: 10em;" >
                    <h4 class="media-heading">{{item.nama}}</h4>
                    <div style="text-align: left ; padding-top: 5%" >
                        Alamat :
                            <h5 class="media-heading">{{item.alamat}}</h5>
                            <h5 class="media-heading">{{item.kecamatan}} {{item.kelurahan}} {{item.kota}} {{item.provinsi}} {{item.kode_pos}}</h5>
                        Penanggung jawab :
                            <h5 class="media-heading">{{item.penanggung_jawab}}</h5>
                        Admin :
                            <h5 class="media-heading">{{item.admin_email}}</h5>
                        Email :
                            <h5 class="media-heading">{{item.email}}</h5>
                        No Telp :
                            <!-- <h5 class="media-heading">{{item.latlong}}</h5> -->
                            <h5 class="media-heading">{{item.no_telp}}</h5>
                            
                   
                    </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
          </div>
          </div>
          <!-- modal -->
          </div>
                <a class="button" style="margin: 50px 0;" href="/page/register">Close</a>
              </div>
            </div>
            <div ng-show="step.id==7">
              <h2 style="line-height: 1">Ooopps!!</h2>
              <div>Mohon maaf, sepertinya telah terjadi kesalahan
                <span ng-bind="step.error"></span>
              </div>
              <div class="mh flex" style="justify-content: center;align-items: center;">
                <button style="margin: 50px 0;" ng-click="step.done()">Close</button>
              </div>
              <div class="ms flex" style="justify-content: center;align-items: center;">
                <a class="button" style="margin: 50px 0;" href="/page/register">Close</a>
              </div>
            </div>
            <div id="google-signin" class="flex" style="justify-content: center; align-items: center;flex-direction: column;">
              <div style="text-align:center; margin-bottom: 40px;">
                Gunakan akun Google untuk masuk kedalam
                <b>BUBO survey</b>
              </div>
              <div id="gsign"></div>
            </div>
          </div>

    </article>
    <article ng-include="'/footer.html'"></article>
  </section>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102073540-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-102073540-1');
  </script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <script src="/js/angular.js"></script>
  <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/js/bubo.js?v=1.0.52"></script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSHvIRATbfRn-Ebya4Zs2h4CHCC52xVvE&callback=initMap" async
    defer></script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102073540-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-102073540-1');
  </script>
</body>
</html>
